# Code formatting policy for itest. -*- yaml -*-
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 78
DeriveLineEnding: false
UseCRLF: false
UseTab: Never

AttributeMacros: []
ForEachMacros:
  - ITEST_SHUFFLE_SUITES
  - ITEST_SHUFFLE_TESTS
  - SHUFFLE_SUITES
  - SHUFFLE_TESTS

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields:   Consecutive
AlignConsecutiveMacros:      Consecutive

AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: AllDefinitions
BreakBeforeBinaryOperators: All
Cpp11BracedListStyle: false
IndentPPDirectives: AfterHash
IndentGotoLabels: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:        false
  AfterClass:            true
  AfterControlStatement: Never
  AfterEnum:             true
  AfterFunction:         true
  AfterNamespace:        false
  AfterObjCDeclaration:  false
  AfterStruct:           true
  AfterUnion:            true
  AfterExternBlock:      false
  BeforeCatch:           false
  BeforeElse:            false
  BeforeLambdaBody:      false
  BeforeWhile:           false
  IndentBraces:          false
  SplitEmptyFunction:    true
  SplitEmptyRecord:      true
  SplitEmptyNamespace:   true
